# Don't track content of these folders
data/
bin/
scripts/
obj/
output/
.idea/
target/


# Don't track the following source file #
########################################
#src/main/java/GeoFlink/StreamingJob.java

# Don't track the Compiled source #
##################################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Don't track following misc files
##################################
*.csv
*.cbp
*.depend
*.py
#*.gitignore
Makefile
*.iml

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
